.trapecio {
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}


.centralizador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: darkgreen;
    height: 750px;
    width: 1200px;
}

.dark {
    background-color: gray
}

.ligth {
    background-color: lightgray;
}

.coche {
    background-color: blue;
    height: 50px;
    width: 100px;

    position: absolute;
    top: 10vh;
    left: 50vw;
    z-index: 2;
}

.carretera {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/*--------------------------------------------------------------Carretera-------------------------------------------------- */

/* La altura y anchura es el 80% con respecto al
poligono anterior */

/* T = trapecio, orden de abajo a arriba */

#t1 {
    height: 20mm;
    width: 315mm;
}

#t2 {
    height: 16mm;
    width: 252mm;
}

#t3 {
    height: 12.8mm;
    width: 201.6mm;
}

#t4 {
    height: 10.24mm;
    width: 161.28mm;
}

#t5 {
    height: 8.192mm;
    width: 129.024mm;
}

#t6 {
    height: 6.5536mm;
    width: 103.2192mm;
}

#t7 {
    height: 5.24288mm;
    width: 82.57536mm;
}

#t8 {
    height: 4.194304mm;
    width: 66.060288mm;
}

#t9 {
    height: 3.3554432mm;
    width: 52.8482304mm;
}

#t10 {
    height: 2.68435456mm;
    width: 42.27858432mm;
}

#t11 {
    height: 2.14mm;
    width: 33.82mm;
}

/* ----------------------------------------------------Fin Carretera---------------------------------------- */


